<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-11 col-md-3 col-lg-3 m-auto">
      <table class="table mt-5">
        <tbody>
          <tr>
            <td colspan="4">
              @if(this.error !== ''){
                <div class="alert alert-danger" role="alert">
                  {{error}}
                </div>
              }
              @if(this.accion !== ''){
              <span>{{this.dataSend.ValueA}} {{this.accion}} {{this.dataSend.ValueB}}</span>
              }
              <input autofocus type="text" placeholder="0" class="form-control text-end" value="{{displayvalue}}" >
            </td>            
          </tr>
          <tr>
            <td><button (click)="operador('/')" class="btn btn-secondary">/</button></td>
            <td><button (click)="operador('*')" class="btn btn-secondary">x</button></td>
            <td><button (click)="operador('F')" class="btn btn-secondary">F</button></td>            
            <td  ><button (click)="clear()" class="btn btn-secondary">C</button></td>
          </tr>
          <tr>
            <td><button (click)="clickDigit(7)"  class="btn btn-secondary">7</button></td>
            <td><button (click)="clickDigit(8)" class="btn btn-secondary">8</button></td>
            <td><button (click)="clickDigit(9)" class="btn btn-secondary">9</button></td>
            <td><button (click)="operador('-')" class="btn btn-secondary">-</button></td>
          </tr>
          <tr>
            <td><button (click)="clickDigit(4)" class="btn btn-secondary">4</button></td>
            <td><button (click)="clickDigit(5)" class="btn btn-secondary">5</button></td>
            <td><button (click)="clickDigit(6)" class="btn btn-secondary">6</button></td>
            <td ><button (click)="operador('+')" class="btn btn-secondary">+</button></td>
          </tr>
          <tr>
            <td><button (click)="clickDigit(1)" class="btn btn-secondary">1</button></td>
            <td><button (click)="clickDigit(2)" class="btn btn-secondary">2</button></td>
            <td><button (click)="clickDigit(3)" class="btn btn-secondary">3</button></td>
            <td ><button (click)="sendService()" class="btn btn-secondary">=</button></td>  
          </tr>
          <tr class="text-center">
           
            <td colspan="4" ><button (click)="clickDigit(0)" class="btn btn-secondary">0</button></td>
                     
          </tr>
        </tbody>
      </table>
    </div>      
  </div>
</div>